SECRET_KEY=dev_secret_key
AUTHENTIK_ISSUER=
AUTHENTIK_CLIENT_ID=
AUTHENTIK_CLIENT_SECRET=
# AUTHENTIK_REDIRECT_URI=
# AUTHENTIK_METADATA_URL=
# AUTHENTIK_AUTHORIZATION_URL=
# AUTHENTIK_TOKEN_URL=
# AUTHENTIK_USERINFO_URL=
POSTGRES_USER=flowcase
POSTGRES_PASSWORD=flowcase
POSTGRES_DB=flowcase
